/*  reglas
    selectores
    declaraciones
    propiedades
    valores */

/*Selector de etiqueta
header{
    background: pink;
    color: red;
}*/
body    {
    font-family: 'Source Sans Pro', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Times, serif;
    font-weight: normal;
    /* font-style: italic; */
    letter-spacing: -.9px; /* Espaciado entre letras */
}

h1 {
    font-size: 30px;
    line-height: 2; /*Altura desde la base del texto hasta la base de la siguiente */
    text-transform: uppercase;
    /* text-decoration: salmon; */
}

/* Selectores descendentes */
/*section article h3 {
    color: blue;
}
p small{
    color: grey;
}*/

/* Selector de clase */
.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}
.hero{
    height: 300px;
}
/* Selector de id */
#emmanuelTajin{
    width: 500px;
}

#indepApuesta{
    width: 500px;
}

#trabajoERP{
    width: 500px;
}
#seccPortafolio{

}
