/*  reglas
    selectores
    declaraciones
    propiedades
    valores */

/*Selector de etiqueta*/
header{
    background: pink;
    color: red;
}

/* Selectores descendentes */
/*section article h3 {
    color: blue;
}
p small{
    color: grey;
}*/

/* Selector de clase */
.link{

}

/* Selector de id */
#emmanuelTajin{
    width: 500px;
}

#indepApuesta{
    width: 500px;
}

#trabajoERP{
    width: 500px;
}
#seccPortafolio{

}
