/*  reglas
    selectores
    declaraciones
    propiedades
    valores */

/*Selector de etiqueta
header{
    background: pink;
    color: red;
}*/
body    {
    font-family: 'Source Sans Pro', serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Times, serif;
    font-weight: normal;
    /* font-style: italic; */
    letter-spacing: -.9px; /* Espaciado entre letras */
}

h1 {
    font-size: 28px;
    line-height: 1.5; /*Altura desde la base del texto hasta la base de la siguiente */
    text-transform: uppercase;
    /* text-decoration: salmon; */
    color: white;
    margin: 100px 520px 70px 30px;
}

h1 strong{
    color: #1024da;/* Afectamos a las palabra resaltadas */
}

/* Selectores descendentes */
/*section article h3 {
    color: blue;
}
p small{
    color: grey;
}*/

/* Selector de clase */
.hero{
    height: 300px;
    background-image: url('../images/heroCaida.jpg'); /* Imagen de fondo con ruta relativa */
    background-size: 500px 300px;/* Medidas al fondo estáticas,la imagen estaba muy grande*/
    background-repeat: no-repeat;/* Es tan pequeña que se repite(3), solo la queremos una vez*/
    background-position-x: right;/* Ahora la movemos a la derecha*/
    background-color: #000000; /* Ahora le damos un color de fondo */
}

.header{
    background-color: rgb(0,0,0);/* Negro del logo*/
    color: white;
}

.header a{
    color: white;
    text-decoration: none;
}
.logo{
    width: 100px;
}
.logo .imgLogo{
    width: 100px;
}
.project {
            /*tamaño,estilo, color*/
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;
    color: green;
    border-top-width: 10px;
    border-top-color: red;
    border-top-style: solid;*/
    border: 1px solid grey;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background: white;
}
.project-details{
    width: 500px;

}

.project-imageContainer{
    width: 500px;
}


/* Selector de id */
#emmanuelTajin{
    width: 500px;
}

#indepApuesta{
    width: 500px;
}

#trabajoERP{
    width: 500px;
}

#seccPortafolio{
    background-color: #F0F2F5;
}
